<!-- ALERTAS -->
<div class="m-4">

  <div class="alert alert-success alert-dismissible fade" [ngClass]="{'show':status=='success'}">
    <strong>Success!</strong> {{txt}}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>

  <div class="alert alert-danger alert-dismissible fade" [ngClass]="{'show':status=='error'}">
    <strong>Error!</strong> {{txt}}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>

</div>

<!-- FORMULARIO -->
<h2>Formulario de Registro</h2>

<form [formGroup]="miFormulario" (ngSubmit)="enviarFormulario()" id="formulario">
  
  <div class="mb-3">

    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" formControlName="nombre" id="nombre" class="form-control">

    @if (miFormulario.get('nombre')!.invalid && (miFormulario.get('nombre')!.dirty || miFormulario.get('nombre')!.touched)) {
      @if (miFormulario.get('nombre')!.hasError('required')) {
        <div class="form-text">El nombre es requerido.</div>
      }
    }

  </div>

  <div class="mb-3">

    <label for="email" class="form-label">Email</label>
    <input type="email" formControlName="email" id="email" class="form-control">

    @if (miFormulario.get('email')!.invalid && (miFormulario.get('email')!.dirty || miFormulario.get('email')!.touched)) {
      @if (miFormulario.get('email')!.hasError('required')) {
        <div class="form-text">El email es requerido.</div>
      }
      @if (miFormulario.get('email')!.hasError('email')) {
        <div class="form-text">El email debe tener un formato válido.</div>
      }
    }

  </div>

  <div class="mb-3">

    <label for="contraseña" class="form-label">Contraseña</label>
    <input type="text" formControlName="contraseña" id="contraseña" class="form-control">

    @if (miFormulario.get('contraseña')!.invalid && (miFormulario.get('contraseña')!.dirty || miFormulario.get('contraseña')!.touched)) {
      @if (miFormulario.get('contraseña')!.hasError('required')) {
        <div class="form-text">La contraseña es requerido.</div>
      }
    }

  </div>

  <div class="mb-3">

    <label for="confirmcontra" class="form-label">Confirmar Contraseña</label>
    <input type="text" formControlName="confirmcontra" id="confirmcontra" class="form-control">

    @if (miFormulario.get('confirmcontra')!.invalid && (miFormulario.get('confirmcontra')!.dirty || miFormulario.get('confirmcontra')!.touched)) {
      @if (miFormulario.get('confirmcontra')!.hasError('required')) {
        <div class="form-text">Debes confirmar la contraseña.</div>
      }
      @if (miFormulario.get('confirmcontra')!.hasError('passwordMismatch')) {
        <div class="form-text">Las contraseñas no coinciden.</div>
      }
    }

  </div>

  <div id="botones">
    <button type="button" class="btn btn-secondary" [routerLink]="['/login']"> Ir Login</button>
    <button type="submit" [disabled]="!miFormulario.valid" class="btn btn-primary">Registrar</button>
  </div>
  
</form>
