<app-navbar></app-navbar>

<div id="cargo">

    <h3>Tabla de Usuarios con el Rol de "{{nombreCargo}}"</h3><br>

    <table class="table table-bordered table-light">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Useraio Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Email</th>
              <th scope="col">Cargo</th>
            </tr>
        </thead>
        <tbody>
            @if (arrayUsuario.length==0) {
                <tr>
                    <td colspan="5">No se encontro usuarios</td>
                </tr>
            }
            @for (usario of arrayUsuario; track $index) {
                <tr>
                    <th scope="row">{{$index+1}}</th>
                    <td>{{usario.userId}}</td>
                    <td>{{usario.nombreCompleto}}</td>
                    <td>{{usario.correo}}</td>
                    <td>{{usario.cargo}}</td>
                </tr>
            }
        </tbody>
    </table>
    
</div>